POSTGRES_DB=belleza_conceptual
POSTGRES_USER=bc_app
POSTGRES_PASSWORD=cambiar_esta_clave
POSTGRES_PORT=55432

REDIS_PORT=6379

AUTH_PORT=3001
CATALOG_PORT=3002
ORDERS_PORT=3003
PAYMENTS_PORT=3004

DB_SSL=false